

/* Header */


@media screen and (min-width: 480px) {
.head_block {
    height: 150px;
    font-size: 26px;
    }
}
@media screen and (min-width: 481px) and (max-width: 650px) {
    .head_block {
        font-size: 20px;
    }
}

/* Main */
.container {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
}

.box {
    margin-top: 30px;
    }

@media screen and (max-width: 400px){
    .figure {
        font-size: 8vw;
        width: 31%;
        }
}
