

/* Header */


@media screen and (min-width: 480px) {
.head_block {
    height: 150px;
    font-size: 26px;
    }
}

@media screen and (min-width: 481px) and (max-width: 650px) {
    .head_block {
        font-size: 20px;
    }
}

@media screen and (min-width: 1000px){
    #name{
        font-size: 3vw;
    }
}
/* Main */

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }

@media screen and (min-width: 650px){
    .box {
        width: 33%;
        margin: auto;
    }
}
a{
    
}

@media screen and (max-width: 650px){
    .figure {
        font-size: 16px;
    }
}
