

/* Header */


@media screen and (min-width: 480px) {
.head_block {
    height: 150px;
    font-size: 26px;
    }
}
@media screen and (min-width: 481px) and (max-width: 650px) {
    .head_block {
        font-size: 20px;
    }
}

/* Main */
.container {
    display: flex;
    flex-wrap: wrap;
    }

@media screen and (min-width: 650px){
    .box {
        width: 32%;
        margin-top: 20px;
        margin:auto;
    }

}

@media screen and (max-width: 400px){
    .figure {
        font-size: 8vw
        }
}
