body {
    font-size: 16px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
img, embed, object, video {
Max-width: 100%;
}

.head_block {
    text-align: right;
    width: 100%;
    display: inline-block;
    border-bottom: 4px solid #7d97ad;

    }


.logo {
        text-align: left;
        float: left;
        position: relative;
        clear: both;
        }

    /*main*/
.container {
    padding-top: 20px;
}

.box {
    width: 100%;
    }

.red {
    background-color: red;
    }

.two {
    background-color: orange;
    }

.three {
    background-color: yellow;
    }

.four{
    background-color: pink;
    }
